@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Sedan:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
}

body{
    height: 100vh;
    background-color: rgb(255, 249, 204);
}

header{
    left:0;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    padding: 2rem ;
    background-image: url(assets/navbar_img.png);
    border-bottom: .2rem solid rgb(99, 33, 6    );
}
.sticky{
    border-bottom: 2px solid rgb(99, 33, 6);
    background: rgb(255, 249, 204);
}
#menu{
    color:rgb(99, 33, 6);
    font-size: 2.7rem;
    display:none;
}
.logo{
    display: flex;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(99, 33, 6);
    align-items: center;
}
.logo_img{
    width: 100px;
}
.navbar a {
    display: inline-flex;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 1.5rem;
    color: rgb(99, 33, 6);
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(147, 53, 32);
    transform: scale(1.03)
}

.main_img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/background_img5.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(255, 249, 204);
    padding-top: 110px;
    border-bottom: 2vh solid rgb(99, 33, 6);
}
.main_img h1 {
    width: 100%;
    margin-right: 50rem;
    margin-bottom: 5rem;
    font-size: 5rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}
#features-heading{
    margin-top: 3rem;
}
.features .box-container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    margin-bottom: 5rem;
}

.features .box-container .box{
    padding: 3rem 2rem;
    background: rgb(253, 242, 158);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.features .box-container .box i{
    color: rgb(99, 33, 6);
    font-size: 4rem;
    padding: 2rem;
}

.features .box-container .box h3{
    font-size: 1.8rem;
    color: rgb(99, 33, 6);
    padding-bottom: 2rem;
}
.features .box-container .box p{
    font-size: 1.2rem;
    padding: 1rem;
    color: rgb(99, 33, 6);
}
.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: rgb(99, 33, 6);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
       
}
.heading.visible {
    opacity: 1;
    transform: translateY(0);
}

.rest_pics{
    margin-bottom: 6rem;
}
.rest_pics .box-container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
}
.rest_pics .box-container .box{
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow);
    background-image: url(assets/navbar_img.png);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.rest_pics .box-container .box img{
    height: 13rem;
    width: 100%;
    object-fit: cover;
}

.rest_pics .box-container .box .content{
    padding: 2rem;
}

.rest_pics .box-container .box .stars{
    width: 100%;
    height: max-content;
    padding: 0.8rem;
    background: rgb(255, 249, 204);
    position: relative;
    top: -0.28rem;
    color: rgb(99, 33, 6);
}


.rest_pics .box-container .box .content h3{
    color: rgb(99, 33, 6);
    line-height: 1.8;
    font-size: 2.2rem;
    padding:.5rem 0;
}
.rest_pics .box-container .box .content p{
    line-height: 1.8;
    color: rgb(99, 33, 6);
    font-size: 1rem;
    padding:0.5rem 0;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.btn{
    width: 12rem;
    height: 4rem;
    margin-top: 2rem;
    border-radius: 1.6rem;
    background: rgb(253, 242, 158)  ;
    color: rgb(253, 242, 158);
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 16px;
    transition: .2s ease;
}
.btn:hover{
    color: rgb(99, 33, 6);
}
.btn::before{
    content: "";
    background: rgb(99, 33, 6);
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: .7s ease;
    z-index: -1;
}

.btn:hover::before{
    width: 0;
}
.btn::after{
    content: "";
    background: rgb(99, 33, 6);
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transition: .7s ease;
    z-index: -1;
}
.btn:hover::after{
    width: 0;
}
footer.copyright{
    padding:3rem 0;
    background:rgb(74, 42, 30);
    color:rgb(255, 249, 204);
    text-align: center;
    font-size: 0.75rem;
}
footer.copyright a{
    color:#f9ea42;
    text-decoration: none;
}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width:1105px){
    .header{
        padding: 2rem 9%;
    }
}


@media(max-width:768px){
    html{
        font-size: 70%;
    }
    #menu{
        display: block;
    }
    .navbar{
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 1rem 3%;
        background: rgb(255, 249, 204);
        border-top: .2rem solid rgb(99, 33, 6);
        border-bottom: .2rem solid rgb(99, 33, 6);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        margin: 3rem 0;
        font-size: 2rem;
    }
}
@media (max-width: 768px) {
    .main_img {
      background-size: cover;
      background-position: center;
      height: 60vh; /* Allow the height to adjust based on content */
      padding: 4rem 2rem; /* Add some padding for spacing */
    }
  
    .main_img h1 {
      width: 100%; 
      margin-right: 0;
      font-size: 2rem;
    }
  }
  @media (max-width: 768px) {
    .main_img {
      padding-top: 130px;
    }
  }
